<!DOCTYPE html>
<html lang="en" ng-app="quoteBook">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quote Book</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body ng-controller="mainCtrl">
	
	<h1>QuoteBook</h1>
	<div class="quoteOptionsContainer">
		<input placeholder="Add Quote..." ng-model="quote.text"><input placeholder=" Add Author..." ng-model="quote.author"><button ng-click="addQuote(quote)">Add Quote</button>
		<h3>Sort By:</h3>
		<select ng-model="sortBy">
			<option value="text">Text</option>
			<option value="author">Author</option>
		</select>
		<select ng-model="sortOrder">
			<option value="-">A - Z</option>
			<option value="+">Z - A</option>
		</select>

	</div>	
	<div class="quoteContainer">
		<h3>Search Quotes:</h3>
		<input placeholder="Search for Quote" ng-model='searchQuotes'>
		<ul ng-repeat="quote in quotes | toArray: false | filter: searchQuotes | orderBy: sortBy : checkSort()">
			<li>{{quote.text}} by: {{quote.author}} <button ng-click="removeQuote(quotes, $index)">Remove</button></li>
		</ul>
	
	</div>
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/services/dataService.js"></script>
	<script src="js/controllers/mainCtrl.js"></script>
	<script src="js/toArrayFilter.js"></script>
</body>

</html>