<!DOCTYPE html>
<html lang="en" ng-app="quoteBook">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quote Book</title>
	<link rel="stylesheet" href="styles/styles.css">
</head>

<body ng-controller="mainCtrl">
	
	<h1>QuoteBook</h1>
	
	<input placeholder="Quote..." ng-model="quote.text"><input placeholder="Author..." ng-model="quote.author"><button ng-click="addQuote(quote)">Add Quote</button> 
	<button ng-click="toggleFilter()">Filter</button>
	<div class="quoteContainer">
		<input placeholder="Search for Quote" ng-model='filterQuote'>
		<ul ng-repeat="quote in quotes track by $index">
			<li>{{quote.text}} by: {{quote.author}} <button ng-click="removeQuote(quotes, $index)">Remove</button></li>
		</ul>
	
	</div>
	
	
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/services/dataService.js"></script>
	<script src="js/controllers/mainCtrl.js"></script>
</body>

</html>